@media(max-width: 992px) {
    .showcase .content {
      width: 100%;
      margin-bottom: 20vh;
      text-align: center;
    }
  
    .showcase .buttonarea {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  
    .form .container-form {
      width: 65vw;
    }
  
  }
  
  @media(max-width: 768px) {
    .container-cta {
      display: flex;
      flex-direction: column;
    }
  
    .container-cta img {
      width: 100vw;
    }
  
    .container-cta .cta-content>* {
      display: block;
      text-align: center !important;
    }
  
    .cta-content .btn {
      width: 50%;
      margin: 0 auto;
    }
  
    .form .container-form .first-last-name {
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
  
    .form .container-form .first-last-name .input-name {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    .form .container-form {
      width: 80vw;
    }
  
    .footer {
      background-image: linear-gradient(to bottom, #004d7a, #008793);
    }
  
    .footer .container-footer {
      flex-direction: column;
      padding: 1rem 0;
    }
  
    .footer .container-footer a {
      padding: 0.5rem 0;
      width: 100%;
      text-align: center;
    }
  
  }

  @media(max-width: 768px){
    .container-mi img {
      display: none;
    }
    
  }
  
  @media(max-width: 576px) {
    .showcase .buttonarea {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

  .tickets-form .ticketsFirstName,
  .ticketsLastName {
    width: 100%;
  }


  .tickets-form .labelTicketsQuantity,
  .labelTicketsCategory {
    width: 100%;
  }

  .tickets-form .btnTickets {
    width: 100%;

  }
  }